<div class="row container mt-4">
    <mat-grid-list cols="1" rowHeight="1:1">
        <mat-card>
            <mat-card-header>
                <mat-card-title>LOGIN ACCESO</mat-card-title>
                <mat-card-subtitle>Acceso a mi App de Héroes</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div align="center">
                    <button mat-raised-button
                            color="primary"
                            (click)="login()">
                        Ingresar
                    </button>
                </div>

            </mat-card-content>
        </mat-card>
    </mat-grid-list>
</div>