<h1>LISTADO DE HÉROES</h1>
<mat-divider></mat-divider>
<br>

<div fxLayout="row wrap"
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="20px">

    <div fxFlex="20"
         fxFlex.lg="15"
         fxFlex.sm="30" 
         *ngFor="let datico of listadoHeroes"
         class="animate__animated animate__fadeIn animate__faster">

         <!-- Funcionamiento del Input, a la propiedad daticoInput que está en heroe-tarjeta.component.ts
         le envío lo que tenga datico del ng-for de la parte superior de este comentario. -->
         <app-heroe-tarjeta [daticoInput] = "datico" ></app-heroe-tarjeta>

    </div>
</div>


