<p>error-page works!</p>

<ul>

    <li>
        <a routerLink="/auth/login"> Ir a Login.</a>
    </li>

    <li>
        <a routerLink="/auth/registro">Ir a Registro.</a>
    </li>

    <!-- **************************************************************************** -->

    <li>
        <a routerLink="/heroes/listado">Ir a Listado Héroes.</a>
    </li>

    <li>
        <a routerLink="/heroes/agregar">Ir a Agregar Héroes.</a>
    </li>

    <li>
        <a routerLink="/heroes/editar/10231">Ir a Editar Héroe 10231.</a>
    </li>

    <li>
        <a routerLink="/heroes/buscar">Ir a Buscar Héroes.</a>
    </li>

    <li>
        <a routerLink="/heroes/10231">Ir a Buscar Héroe 10231.</a>
    </li>

</ul>


